@page "/admin"

@using SimpleECommerce.Data.Repositories
@using SimpleECommerce.Models
@inject IProductRepository ProductRepo


<h3>Add Product</h3>

<EditForm Model="product" OnValidSubmit="SaveProduct">
    <InputText @bind-Value="product.Name" placeholder="Name" />
    <InputText @bind-Value="product.Description" placeholder="Description" />
    <InputText @bind-Value="product.ImageUrl" placeholder="Image URL" />
    <InputNumber @bind-Value="product.Price" />
    <button class="btn btn-primary">Save</button>
</EditForm>

@code {
    Product product = new();

    async Task SaveProduct()
    {
        await ProductRepo.AddAsync(product);
        product = new(); // Reset form
    }
}
